.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container .row-border{
  border: solid lightgray 1px;
  border-radius: 5px;
}
/* .container .hasban{
  border: solid lightgray 1px;
} */
.lead-btn-container .btn {
  background-color: #fff;
  border: solid 1px;

}
.hero-banner {
  width: 200%;
}
.page-size {
  width: 50px;
  height: 50px;
}
.list-group-item {
  border: none;
}
.img-size {
  width: 70px;
  height: 70px;
}
.list-group-item .row {
  width: 800px;
}
.row .cart-product-title{
  height: 10px;
  width: 10px;
}
.heart-icon {
  border: solid lightgray 1px;
  border-radius: 5px;
  /* align-   content: center; */
  /* padding-right: 10px; */
  text-align: center;
  width: 40px; 
  height: 40px;
  display: block;

}
.header-font {
  font-size: smaller;
  color: gray;
}
.cart-entry-row {
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
